<h2>Regression Models with Keras</h2>

In [2]:
import pandas as pd
import numpy as np

<strong> About dataset</strong>
<p>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</p>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:

concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
# check missing values
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

<p>data loock clean and is ready to be used to build the model </p>

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
# normalize predictors

predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

### Build a Neural Network

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

#from tensorflow.keras.models import Sequential
#from tensorflow.keras.layers import Dense

In [14]:
n_cols = predictors_norm.shape[1] # number of predictors

In [15]:
n_cols

8

In [16]:
# define regression model
# create a model that has two hidden layers, each of 50 hidden units.

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train and Test the Network

In [17]:
# build the model
model = regression_model()

c:\Users\mariu\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 2s - 101ms/step - loss: 1621.2134 - val_loss: 1115.8221
Epoch 2/100
23/23 - 0s - 8ms/step - loss: 1466.1886 - val_loss: 963.4858
Epoch 3/100
23/23 - 0s - 9ms/step - loss: 1214.9142 - val_loss: 739.1260
Epoch 4/100
23/23 - 0s - 8ms/step - loss: 872.4766 - val_loss: 478.5127
Epoch 5/100
23/23 - 0s - 8ms/step - loss: 538.6002 - val_loss: 278.9875
Epoch 6/100
23/23 - 0s - 8ms/step - loss: 331.1277 - val_loss: 188.8773
Epoch 7/100
23/23 - 0s - 8ms/step - loss: 263.5863 - val_loss: 169.9386
Epoch 8/100
23/23 - 0s - 7ms/step - loss: 241.4002 - val_loss: 167.6584
Epoch 9/100
23/23 - 0s - 6ms/step - loss: 225.5039 - val_loss: 161.9131
Epoch 10/100
23/23 - 0s - 7ms/step - loss: 213.7415 - val_loss: 155.0668
Epoch 11/100
23/23 - 0s - 6ms/step - loss: 204.0659 - val_loss: 154.4008
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 195.4458 - val_loss: 152.1208
Epoch 13/100
23/23 - 0s - 8ms/step - loss: 188.6420 - val_loss: 149.3841
Epoch 14/100
23/23 - 0s - 6ms/step - loss: 181.7574 - val_loss: 148.7916
Epoch 15/100
23/23 - 0s - 6ms/step - loss: 176.1234 - val_loss: 148.3534
Epoch 16/100
23/23 - 0s - 9ms/step - loss: 171.2506 - val_loss: 146.0900
Epoch 17/100
23/23 - 0s - 10ms/step - loss: 167.1695 - val_loss: 146.0257
Epoch 18/100
23/23 - 0s - 9ms/step - loss: 163.3210 - val_loss: 146.9043
Epoch 19/100
23/23 - 0s - 8ms/step - loss: 160.1201 - val_loss: 146.7794
Epoch 20/100
23/23 - 0s - 10ms/step - loss: 157.1956 - val_loss: 148.1021
Epoch 21/100
23/23 - 0s - 8ms/step - loss: 155.0331 - val_loss: 145.6433
Epoch 22/100
23/23 - 0s - 7ms/step - loss: 152.5269 - val_loss: 145.6040
Epoch 23/100
23/23 - 0s - 8ms/step - loss: 151.0556 - val_loss: 148.0093
Epoch 24/100
23/23 - 0s - 8ms/step - loss: 148.2724 - val_loss: 149.1141
Epoch 25/100
23/23 - 0s - 7ms/step - loss: 146.4863 - val_loss: 149.5471
Epoch 26/100
23/23 - 0s - 8ms/step - loss: 144.2483 - val_loss: 148.0858
Epoch 27/100
23/23 - 0s - 8ms/step - loss: 142.7897 - val_loss: 150.6440
Epoch 28/100
23/23 - 0s - 8ms/step - loss: 140.9712 - val_loss: 148.2612
Epoch 29/100
23/23 - 0s - 7ms/step - loss: 139.4374 - val_loss: 151.1129
Epoch 30/100
23/23 - 0s - 8ms/step - loss: 137.6954 - val_loss: 149.2641
Epoch 31/100
23/23 - 0s - 7ms/step - loss: 135.1457 - val_loss: 151.2629
Epoch 32/100
23/23 - 0s - 5ms/step - loss: 134.0954 - val_loss: 151.4138
Epoch 33/100
23/23 - 0s - 6ms/step - loss: 131.2569 - val_loss: 151.5556
Epoch 34/100
23/23 - 0s - 8ms/step - loss: 130.4224 - val_loss: 152.6578
Epoch 35/100
23/23 - 0s - 8ms/step - loss: 128.1655 - val_loss: 150.1503
Epoch 36/100
23/23 - 0s - 8ms/step - loss: 125.4932 - val_loss: 152.5282
Epoch 37/100
23/23 - 0s - 8ms/step - loss: 124.9938 - val_loss: 154.7693
Epoch 38/100
23/23 - 0s - 8ms/step - loss: 121.3305 - val_loss: 151.8650
Epoch 39/100
23/23 - 0s - 7ms/step - loss: 119.0696 - val_loss: 150.8366
Epoch 40/100
23/23 - 0s - 7ms/step - loss: 116.3921 - val_loss: 153.8356
Epoch 41/100
23/23 - 0s - 7ms/step - loss: 114.6691 - val_loss: 155.5321
Epoch 42/100
23/23 - 0s - 7ms/step - loss: 112.3227 - val_loss: 150.1909
Epoch 43/100
23/23 - 0s - 6ms/step - loss: 110.0020 - val_loss: 152.6223
Epoch 44/100
23/23 - 0s - 5ms/step - loss: 108.2914 - val_loss: 150.0860
Epoch 45/100
23/23 - 0s - 6ms/step - loss: 105.8394 - val_loss: 151.3164
Epoch 46/100
23/23 - 0s - 6ms/step - loss: 103.7421 - val_loss: 150.8659
Epoch 47/100
23/23 - 0s - 6ms/step - loss: 101.6651 - val_loss: 148.7657
Epoch 48/100
23/23 - 0s - 6ms/step - loss: 99.5906 - val_loss: 147.7453
Epoch 49/100
23/23 - 0s - 8ms/step - loss: 97.2925 - val_loss: 152.3421
Epoch 50/100
23/23 - 0s - 9ms/step - loss: 95.4098 - val_loss: 147.1188
Epoch 51/100
23/23 - 0s - 6ms/step - loss: 94.0636 - val_loss: 145.1508
Epoch 52/100
23/23 - 0s - 8ms/step - loss: 91.5666 - val_loss: 144.4488
Epoch 53/100
23/23 - 0s - 6ms/step - loss: 89.7999 - val_loss: 145.1774
Epoch 54/100
23/23 - 0s - 6ms/step - loss: 87.9716 - val_loss: 143.6607
Epoch 55/100
23/23 - 0s - 6ms/step - loss: 86.3701 - val_loss: 144.2418
Epoch 56/100
23/23 - 0s - 9ms/step - loss: 84.4135 - val_loss: 141.1463
Epoch 57/100
23/23 - 0s - 9ms/step - loss: 83.0293 - val_loss: 143.1414
Epoch 58/100
23/23 - 0s - 10ms/step - loss: 81.5126 - val_loss: 138.0840
Epoch 59/100
23/23 - 0s - 11ms/step - loss: 80.2378 - val_loss: 143.8020
Epoch 60/100
23/23 - 0s - 6ms/step - loss: 78.4933 - val_loss: 136.2347
Epoch 61/100
23/23 - 0s - 6ms/step - loss: 76.8551 - val_loss: 141.8753
Epoch 62/100
23/23 - 0s - 7ms/step - loss: 75.3082 - val_loss: 135.3773
Epoch 63/100
23/23 - 0s - 8ms/step - loss: 73.9786 - val_loss: 138.4278
Epoch 64/100
23/23 - 0s - 8ms/step - loss: 72.6965 - val_loss: 136.3800
Epoch 65/100
23/23 - 0s - 8ms/step - loss: 71.3048 - val_loss: 137.2515
Epoch 66/100
23/23 - 0s - 8ms/step - loss: 70.0056 - val_loss: 134.2390
Epoch 67/100
23/23 - 0s - 8ms/step - loss: 68.3588 - val_loss: 130.6523
Epoch 68/100
23/23 - 0s - 8ms/step - loss: 66.6505 - val_loss: 133.3675
Epoch 69/100
23/23 - 0s - 7ms/step - loss: 65.1824 - val_loss: 129.9441
Epoch 70/100
23/23 - 0s - 8ms/step - loss: 63.9362 - val_loss: 131.8658
Epoch 71/100
23/23 - 0s - 8ms/step - loss: 63.2044 - val_loss: 125.2654
Epoch 72/100
23/23 - 0s - 7ms/step - loss: 61.7722 - val_loss: 132.3789
Epoch 73/100
23/23 - 0s - 6ms/step - loss: 59.3167 - val_loss: 129.1935
Epoch 74/100
23/23 - 0s - 6ms/step - loss: 58.4785 - val_loss: 136.1084
Epoch 75/100
23/23 - 0s - 5ms/step - loss: 57.5295 - val_loss: 127.4254
Epoch 76/100
23/23 - 0s - 7ms/step - loss: 55.9600 - val_loss: 125.5130
Epoch 77/100
23/23 - 0s - 6ms/step - loss: 54.6490 - val_loss: 121.5686
Epoch 78/100
23/23 - 0s - 6ms/step - loss: 53.8466 - val_loss: 124.5042
Epoch 79/100
23/23 - 0s - 6ms/step - loss: 52.4884 - val_loss: 120.4295
Epoch 80/100
23/23 - 0s - 6ms/step - loss: 51.8097 - val_loss: 124.1106
Epoch 81/100
23/23 - 0s - 8ms/step - loss: 50.6474 - val_loss: 119.6430
Epoch 82/100
23/23 - 0s - 8ms/step - loss: 49.8893 - val_loss: 122.8516
Epoch 83/100
23/23 - 0s - 9ms/step - loss: 48.9854 - val_loss: 118.5681
Epoch 84/100
23/23 - 0s - 9ms/step - loss: 48.1029 - val_loss: 122.0765
Epoch 85/100
23/23 - 0s - 11ms/step - loss: 47.7121 - val_loss: 116.4687
Epoch 86/100
23/23 - 0s - 9ms/step - loss: 46.7562 - val_loss: 119.5545
Epoch 87/100
23/23 - 0s - 9ms/step - loss: 46.2695 - val_loss: 112.6021
Epoch 88/100
23/23 - 0s - 9ms/step - loss: 46.2906 - val_loss: 116.2857
Epoch 89/100
23/23 - 0s - 10ms/step - loss: 45.0659 - val_loss: 118.4851
Epoch 90/100
23/23 - 0s - 10ms/step - loss: 44.7527 - val_loss: 123.6752
Epoch 91/100
23/23 - 0s - 9ms/step - loss: 44.4443 - val_loss: 114.1095
Epoch 92/100
23/23 - 0s - 9ms/step - loss: 43.9058 - val_loss: 122.7779
Epoch 93/100
23/23 - 0s - 8ms/step - loss: 43.0406 - val_loss: 115.8434
Epoch 94/100
23/23 - 0s - 9ms/step - loss: 42.5619 - val_loss: 116.6128
Epoch 95/100
23/23 - 0s - 8ms/step - loss: 42.1530 - val_loss: 128.1639
Epoch 96/100
23/23 - 0s - 10ms/step - loss: 41.9865 - val_loss: 117.9079
Epoch 97/100
23/23 - 0s - 8ms/step - loss: 41.2746 - val_loss: 116.0507
Epoch 98/100
23/23 - 0s - 8ms/step - loss: 41.7367 - val_loss: 130.4038
Epoch 99/100
23/23 - 0s - 7ms/step - loss: 40.8512 - val_loss: 116.8005
Epoch 100/100
23/23 - 0s - 8ms/step - loss: 40.1625 - val_loss: 125.5401