<h2>Regression Models with Keras</h2>

In [1]:
import pandas as pd
import numpy as np

<strong> About dataset</strong>
<p>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</p>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:

concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
# check missing values
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

<p>data loock clean and is ready to be used to build the model </p>

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
# normalize predictors

predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

### Build a Neural Network

In [11]:
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

#from tensorflow.keras.models import Sequential
#from tensorflow.keras.layers import Dense

In [13]:
n_cols = predictors_norm.shape[1] # number of predictors

In [14]:
# define regression model
# create a model that has two hidden layers, each of 50 hidden units.

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train and Test the Network

In [15]:
# build the model
model = regression_model()

c:\Users\mariu\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [16]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 56ms/step - loss: 1612.3573 - val_loss: 1103.1174
Epoch 2/100
23/23 - 0s - 5ms/step - loss: 1431.8761 - val_loss: 937.3696
Epoch 3/100
23/23 - 0s - 5ms/step - loss: 1133.3892 - val_loss: 684.5511
Epoch 4/100
23/23 - 0s - 5ms/step - loss: 740.2985 - val_loss: 414.0955
Epoch 5/100
23/23 - 0s - 5ms/step - loss: 412.7980 - val_loss: 238.6453
Epoch 6/100
23/23 - 0s - 5ms/step - loss: 278.9212 - val_loss: 191.3568
Epoch 7/100
23/23 - 0s - 4ms/step - loss: 241.5216 - val_loss: 195.3590
Epoch 8/100
23/23 - 0s - 5ms/step - loss: 223.7586 - val_loss: 192.9966
Epoch 9/100
23/23 - 0s - 5ms/step - loss: 211.6529 - val_loss: 188.9846
Epoch 10/100
23/23 - 0s - 5ms/step - loss: 202.8509 - val_loss: 185.0740
Epoch 11/100
23/23 - 0s - 5ms/step - loss: 193.5586 - val_loss: 178.7783
Epoch 12/100
23/23 - 0s - 5ms/step - loss: 186.9857 - val_loss: 175.4592
Epoch 13/100
23/23 - 0s - 5ms/step - loss: 181.0672 - val_loss: 172.1275
Epoch 14/100
23/23 - 0s - 5ms/step - loss: 176.4959 - val_loss: 170.4488
Epoch 15/100
23/23 - 0s - 5ms/step - loss: 171.5259 - val_loss: 165.2778
Epoch 16/100
23/23 - 0s - 5ms/step - loss: 167.1538 - val_loss: 163.5784
Epoch 17/100
23/23 - 0s - 5ms/step - loss: 164.1754 - val_loss: 159.6564
Epoch 18/100
23/23 - 0s - 5ms/step - loss: 160.9595 - val_loss: 156.0703
Epoch 19/100
23/23 - 0s - 5ms/step - loss: 157.8249 - val_loss: 155.2167
Epoch 20/100
23/23 - 0s - 5ms/step - loss: 154.8805 - val_loss: 155.4347
Epoch 21/100
23/23 - 0s - 4ms/step - loss: 152.2766 - val_loss: 152.7023
Epoch 22/100
23/23 - 0s - 5ms/step - loss: 150.0183 - val_loss: 152.3071
Epoch 23/100
23/23 - 0s - 4ms/step - loss: 148.0235 - val_loss: 151.3100
Epoch 24/100
23/23 - 0s - 5ms/step - loss: 145.9706 - val_loss: 150.4149
Epoch 25/100
23/23 - 0s - 5ms/step - loss: 144.6074 - val_loss: 149.3017
Epoch 26/100
23/23 - 0s - 5ms/step - loss: 143.0441 - val_loss: 150.4245
Epoch 27/100
23/23 - 0s - 5ms/step - loss: 141.4170 - val_loss: 149.8186
Epoch 28/100
23/23 - 0s - 5ms/step - loss: 139.4619 - val_loss: 146.5668
Epoch 29/100
23/23 - 0s - 5ms/step - loss: 138.4370 - val_loss: 148.2733
Epoch 30/100
23/23 - 0s - 5ms/step - loss: 137.4206 - val_loss: 146.8159
Epoch 31/100
23/23 - 0s - 4ms/step - loss: 135.4133 - val_loss: 147.5702
Epoch 32/100
23/23 - 0s - 5ms/step - loss: 134.6626 - val_loss: 146.5963
Epoch 33/100
23/23 - 0s - 5ms/step - loss: 133.1460 - val_loss: 148.6476
Epoch 34/100
23/23 - 0s - 5ms/step - loss: 132.0512 - val_loss: 148.7926
Epoch 35/100
23/23 - 0s - 5ms/step - loss: 131.4128 - val_loss: 148.5387
Epoch 36/100
23/23 - 0s - 5ms/step - loss: 130.1353 - val_loss: 147.1978
Epoch 37/100
23/23 - 0s - 5ms/step - loss: 128.5798 - val_loss: 148.4300
Epoch 38/100
23/23 - 0s - 5ms/step - loss: 127.5226 - val_loss: 150.2044
Epoch 39/100
23/23 - 0s - 4ms/step - loss: 126.3340 - val_loss: 148.5303
Epoch 40/100
23/23 - 0s - 4ms/step - loss: 124.7717 - val_loss: 150.1809
Epoch 41/100
23/23 - 0s - 5ms/step - loss: 123.6171 - val_loss: 150.3012
Epoch 42/100
23/23 - 0s - 5ms/step - loss: 122.7982 - val_loss: 146.1455
Epoch 43/100
23/23 - 0s - 5ms/step - loss: 120.7457 - val_loss: 145.5429
Epoch 44/100
23/23 - 0s - 5ms/step - loss: 119.1517 - val_loss: 148.8185
Epoch 45/100
23/23 - 0s - 4ms/step - loss: 118.5485 - val_loss: 145.2227
Epoch 46/100
23/23 - 0s - 5ms/step - loss: 116.5940 - val_loss: 144.4048
Epoch 47/100
23/23 - 0s - 5ms/step - loss: 114.9952 - val_loss: 146.0316
Epoch 48/100
23/23 - 0s - 5ms/step - loss: 114.6403 - val_loss: 144.6421
Epoch 49/100
23/23 - 0s - 4ms/step - loss: 112.1312 - val_loss: 141.7484
Epoch 50/100
23/23 - 0s - 5ms/step - loss: 110.5791 - val_loss: 142.6983
Epoch 51/100
23/23 - 0s - 5ms/step - loss: 108.7696 - val_loss: 141.7630
Epoch 52/100
23/23 - 0s - 4ms/step - loss: 107.2036 - val_loss: 142.4948
Epoch 53/100
23/23 - 0s - 5ms/step - loss: 105.2427 - val_loss: 139.9851
Epoch 54/100
23/23 - 0s - 4ms/step - loss: 103.8300 - val_loss: 139.1653
Epoch 55/100
23/23 - 0s - 5ms/step - loss: 101.9783 - val_loss: 138.9558
Epoch 56/100
23/23 - 0s - 5ms/step - loss: 99.8103 - val_loss: 138.3773
Epoch 57/100
23/23 - 0s - 5ms/step - loss: 97.5743 - val_loss: 134.9684
Epoch 58/100
23/23 - 0s - 5ms/step - loss: 95.0165 - val_loss: 134.1220
Epoch 59/100
23/23 - 0s - 5ms/step - loss: 92.4691 - val_loss: 133.3715
Epoch 60/100
23/23 - 0s - 5ms/step - loss: 90.6985 - val_loss: 130.2538
Epoch 61/100
23/23 - 0s - 5ms/step - loss: 86.8982 - val_loss: 131.8848
Epoch 62/100
23/23 - 0s - 5ms/step - loss: 84.1730 - val_loss: 129.1817
Epoch 63/100
23/23 - 0s - 5ms/step - loss: 82.3397 - val_loss: 129.9151
Epoch 64/100
23/23 - 0s - 5ms/step - loss: 79.9737 - val_loss: 127.7035
Epoch 65/100
23/23 - 0s - 5ms/step - loss: 77.3041 - val_loss: 124.9808
Epoch 66/100
23/23 - 0s - 5ms/step - loss: 75.0936 - val_loss: 129.1163
Epoch 67/100
23/23 - 0s - 5ms/step - loss: 72.3864 - val_loss: 128.6811
Epoch 68/100
23/23 - 0s - 4ms/step - loss: 70.0992 - val_loss: 124.3491
Epoch 69/100
23/23 - 0s - 5ms/step - loss: 68.2680 - val_loss: 124.9146
Epoch 70/100
23/23 - 0s - 5ms/step - loss: 66.5703 - val_loss: 122.5155
Epoch 71/100
23/23 - 0s - 5ms/step - loss: 64.5778 - val_loss: 121.5771
Epoch 72/100
23/23 - 0s - 5ms/step - loss: 63.2444 - val_loss: 119.9924
Epoch 73/100
23/23 - 0s - 5ms/step - loss: 61.6478 - val_loss: 119.5512
Epoch 74/100
23/23 - 0s - 6ms/step - loss: 59.3479 - val_loss: 125.8196
Epoch 75/100
23/23 - 0s - 5ms/step - loss: 57.8661 - val_loss: 117.2481
Epoch 76/100
23/23 - 0s - 5ms/step - loss: 56.3809 - val_loss: 118.0165
Epoch 77/100
23/23 - 0s - 5ms/step - loss: 55.2304 - val_loss: 127.7776
Epoch 78/100
23/23 - 0s - 4ms/step - loss: 53.5826 - val_loss: 121.5619
Epoch 79/100
23/23 - 0s - 5ms/step - loss: 52.2960 - val_loss: 122.6257
Epoch 80/100
23/23 - 0s - 5ms/step - loss: 50.9554 - val_loss: 123.0576
Epoch 81/100
23/23 - 0s - 5ms/step - loss: 50.2464 - val_loss: 122.6450
Epoch 82/100
23/23 - 0s - 5ms/step - loss: 49.0286 - val_loss: 118.9222
Epoch 83/100
23/23 - 0s - 5ms/step - loss: 47.9987 - val_loss: 122.8918
Epoch 84/100
23/23 - 0s - 5ms/step - loss: 46.7696 - val_loss: 134.7577
Epoch 85/100
23/23 - 0s - 5ms/step - loss: 45.6019 - val_loss: 125.7116
Epoch 86/100
23/23 - 0s - 5ms/step - loss: 44.8025 - val_loss: 126.8167
Epoch 87/100
23/23 - 0s - 5ms/step - loss: 43.6732 - val_loss: 139.4389
Epoch 88/100
23/23 - 0s - 5ms/step - loss: 43.8881 - val_loss: 130.5441
Epoch 89/100
23/23 - 0s - 4ms/step - loss: 42.8993 - val_loss: 132.9814
Epoch 90/100
23/23 - 0s - 5ms/step - loss: 42.0548 - val_loss: 134.8729
Epoch 91/100
23/23 - 0s - 5ms/step - loss: 41.4936 - val_loss: 124.7204
Epoch 92/100
23/23 - 0s - 5ms/step - loss: 40.8561 - val_loss: 138.6203
Epoch 93/100
23/23 - 0s - 6ms/step - loss: 40.7780 - val_loss: 140.7604
Epoch 94/100
23/23 - 0s - 5ms/step - loss: 40.0011 - val_loss: 134.2138
Epoch 95/100
23/23 - 0s - 5ms/step - loss: 39.4279 - val_loss: 132.8645
Epoch 96/100
23/23 - 0s - 5ms/step - loss: 38.5062 - val_loss: 149.8860
Epoch 97/100
23/23 - 0s - 5ms/step - loss: 38.7494 - val_loss: 131.6157
Epoch 98/100
23/23 - 0s - 5ms/step - loss: 38.6358 - val_loss: 136.0130
Epoch 99/100
23/23 - 0s - 5ms/step - loss: 37.7994 - val_loss: 139.9559
Epoch 100/100
23/23 - 0s - 5ms/step - loss: 37.7337 - val_loss: 137.2551